<div class="about">
  <h1>About Food Cart Mania</h1>
  <img src="images/food-cart.jpg" alt="row of food carts">
  <p>
    Welcome to Food Cart Mania! Food Cart Mania is a place where food cart lovers in Portland, Oregon can explore food carts in the area, add reviews, and leave comments.  We hope you find something delicious to eat. Cart on!
  </p>
</div>
<br>
